.primary_btn {
    padding: 1.5rem 1rem;
    background-color: var(--black);
    color: var(--white);
    min-width: 22rem;
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.6rem;
    font-weight: 800;
    cursor: pointer;
}

.outline_btn {
    padding: 1rem 1rem;
    border: 2px solid var(--black);
    mix-blend-mode: luminosity;
    color: var(--black);
    min-width: 22rem;
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.6rem;
    font-weight: 800;
    width: 100%;
    cursor: pointer;
}


@media screen and (max-width: 432px) {
    .primary_btn {
        padding: 1rem 0.5rem;
        min-width: 12rem;
        border-radius: 0.6rem;
        gap: 0.5rem;
        font-size: 1rem;
        font-weight: 500;
    }

    .outline_btn {
        padding: 0.5rem 0.5rem;
        min-width: 12rem;
        border-radius: 0.6rem;
        font-size: 1rem;
        font-weight: 500;
    }


}